	<br>
	<footer class="navbar navbar-fixed-bottom">
		<div class="container">
			<p class="copyright">&copy; <a href="http://evilmousestudios.com">Evil Mouse Studios</a> {{#copyright_year}}{{this}}{{/copyright_year}}</p>
		</div>
	</footer>
</div> <!-- /container -->

<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/bower_components/tether/dist/js/tether.min.js"></script>
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/bower_components/moment/min/moment.min.js"></script>
<script src="/assets/js/scripts.min.js"></script>
