<footer>
  <p>&copy; <a href="http://evilmousestudios.com">Evil Mouse Studios</a> 2014</p>
</footer>
</div> <!-- /container -->

<script src="/assets/js/jquery-2.1.3.min.js"></script>

<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/main.js"></script>

{{#each scripts}}
<script src="/assets/js/{{this}}.js"></script>
{{/each}}
