{
   "app":{
      "data":{
         "session_keys":[
            "XXX"
         ],
         "passport_reddit":{
            "clientId":"XXX",
            "clientSecret":"XXX"
         },
         "passport_github":{
            "clientId":"XXX",
            "clientSecret":"XXX"
         }
      }
   },
   "search":{
      "plugins":[
         "tv_rage"
      ],
      "data":{
      }
   },
   "acquire":{
      "plugins":[
         "itunes"
      ]
   },
   "display":{

   },
  "deploy":{
      "username": "YOUR USERNAME",
      "hostname": "YOUR HOSTNAME",
      "path": "~/borrowbot",
      "screen": "borrowbot"
  },
  "site":{
    "port": 3000
  }
}
