{
   "app":{
      "data":{
         "session_keys":[
            "XXX"
         ],
         "passport_twitter":{
            "consumerKey":"XXX",
            "consumerSecret":"XXX"
         },
         "passport_facebook":{
            "appId":"XXX",
            "appSecret":"XXX"
         },
         "passport_github":{
            "clientId":"XXX",
            "clientSecret":"XXX"
         }
      }
   },
   "search":{
      "plugins":[
         "tv_rage"
      ],
      "data":{
      }
   },
   "acquire":{
      "plugins":[
         "itunes"
      ]
   },
   "display":{

   }
}
