<div class="container">
	<div>
		<h3>Error!</h3>
	</div>
	<br>
	<p>This is awkward, but there's been an error.  The little computer weasels were heard muttering something about...</p>
	<q>{{{error}}}</q>
</div>