<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Bloodhound</h1>
    <p>
    <i>TV is awesome.  More TV is even more awesome.  Trying to keep track of TV shows is tricky though.</i>
    <br><br>
    <q>When does Program A come back on again?</q><br>
    <q>What was the last episode of Program B that I saw?</q><br>
    <q>Program C was cancelled?  When did that happen?</q><br><br>
    <b>Bloodhound hopes to solve all of these problems and more.  Welcome to the future of TV.</b>
    </p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Check it out! &raquo;</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Find</h2>
      <p>Use a variety of television sources across the web to find up to date information about your favorite shows.</p>
      <p><a class="btn btn-default" href="#" role="button">Find shows &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Track</h2>
      <p>Keep track of your progress as you view shows in you collection.  Color coded shows keep you clued in on the status of a show in an instant.</p>
      <p><a class="btn btn-default" href="#" role="button">Track your collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Watch</h2>
      <p>Search web sites and stores to find where you can download or steam shows you're ready to watch</p>
      <p><a class="btn btn-default" href="#" role="button">Watch TV &raquo;</a></p>
    </div>
  </div>
</div>
