<link rel="stylesheet" href="/assets/css/bootstrap-social.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

<div class="container">
  <div>
    <h3>Login using any of the following services:</h3>
  </div>
  <br>
  <a class="btn btn-block btn-social btn-reddit" href="/auth/reddit">
    <i class="fa fa-reddit"></i>
    Sign in with Reddit
  </a>
  <br>
  <a class="btn btn-block btn-social btn-github" href="/auth/github">
    <i class="fa fa-github"></i>
    Sign in with Github
  </a>
  <br>
</div>
