body {
	padding-top: 50px;
	padding-bottom: 20px;
}

footer {
	background-color: #FFFFFF;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.watch-checkbox-div {
	margin: 0;
}

.disabled {
	color: #ccc;
	cursor: not-allowed !important;
}