/** MODULES **/
/*@import 'modules/';*/

/** PARTIALS **/
@import 'partials/main';

/** VENDORS **/
/*@import 'vendors/';*/


.footer-icon{
	color:#ccc;
	text-decoration:none;
	margin-top:3px;
	&:hover{
		color:gray;
	}
}

@media screen and (max-width:991px){
	.footer-icon{
		margin-left:0;
		float:right;
	}
};

@media screen and (min-width:992px){
	.footer-icon{
		width:63%;
		text-align:center;
	}
};
@media screen and (min-width:992px){
	.footer-icon{
		width:70%;
		text-align:center;
	}
};

.copyright {
	float:left;
}
