/** MODULES **/
/*@import 'modules/';*/

/** PARTIALS **/
@import 'partials/main';

/** VENDORS **/
/*@import 'vendors/';*/

.footer-icon{
	text-decoration:none;
	margin-top:3px;
	float:right;
	&:hover{
		color:red;
	}
}

.Introduction {
	font-family: 'Playfair Display SC', serif;
	text-shadow:1px 0px 3px black;
}

.site-info {
	i {
		font-size:20px;
		font-weight: bold;
	}
	q {
		color:black;
	}
	font-family: 'Titillium Web', sans-serif;
	font-size:18px;
}



