.collection-container {
	.card {
		overflow: hidden;
		margin-bottom: 1.875rem;
	
		.card-img-overlay {
			display: none;
			background-color: rgba(33, 33, 33, 0.9);
		}

		.collection-description {
			height: 50%;
			overflow: scroll;
		}
	}
}