body {
    padding-top: 50px;
}

.alert {
    margin: 20px 0px;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    p {
        margin: 10px 0px;
    }
}

.watch-checkbox-div {
    margin: 0;
}

.collection-season-watch, .collection-show-watch {
	margin-right: 15px;
}

.disabled {
    color: #CCCCCC;
    cursor: not-allowed !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.result-div {
  line-height: 12px;
}

.result-meta-prices {
  list-style: none;
  padding-left: 0;
}
